.container {
  width: 1270px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    width: 768px;
  }
  @media (max-width: 767px) {
    width: 480px;
  }
}
